.navbar {
  width: 100%;
  display: flex;
  z-index: 200;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  background: white;
  @media (width < 780px) {
    height: 70px;
  }
}
.logout {
  width: 100%;
  border: none;
  border-radius: 20px;
  background: red;
  padding: 5px 5px;
}
.mobile {
  display: none;

  @media (width < 780px) {
    display: flex;

    align-items: center;
  }
}
.wrapnav {
  width: 90%;
  display: flex;
  height: 50px;
  margin-bottom: 7px;
  align-items: center;
  justify-content: space-between;
}
.firstnav {
  flex: 1;
}
.title {
  font-size: 28px;
cursor: pointer;
  @media (width < 780px) {
    font-size: 14px;
  }
}
.secondnav {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width < 780px) {
    display: none;
  }
}
.form {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 245, 245);
  border-radius: 20px;
  padding: 2px 2px;
  border: 1px solid rgba(0, 0, 0, 0.459);
}
.searchinput {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
::placeholder {
  color: gray;
  margin-left: 30px;
}
.searchinput:focus {
  border: none;
}
.searchicons {
  color: wheat;
  background: black;
  border-radius: 50%;
  padding: 5px 5px;
}
.thirdnav {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 50px;
  @media (width < 780px) {
    display: none;
  }
}
.thirdwrap {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.navpart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thirdpart {
  display: flex;
  flex-direction: column;
}
.firsttext {
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: 500;
}
.secondtext {
  font-size: 13px;
  font-weight: 500;
}

.navdetail {
  display: flex;
  width: 90%;
  align-items: center;
  margin-top: 20px;
  height: 10%;
  margin-bottom: 30px;
  justify-content: space-between;
  @media (width < 780px) {
    display: none;
  }
}
.wraptext {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin-left: 10px;
  cursor: pointer;
}
.wraptext:hover{
  transform: scale(1.2);
}
.wraptext:last-child {
  border: none;
  background: rgba(128, 128, 128, 0.281);
  border-radius: 10px;
  padding: 0px 20px;
}
.cartadded {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: none;
  background: rgba(1, 250, 55, 0.815);
  border-radius: 10px;
  padding: 0px 20px;
  margin-right: 10px;
}
.texts {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}
.arrow {
  width: 20px;
  height: 20px;
}
.downarrow {
  width: 20px;
  height: 20px;
  animation: 2s ease-in-out;
  transform: rotate(180deg);
}
.userinfo {
  width: 180px;
  padding: 20px 10px;
  height: 80px;
  position: fixed;
  top: 50px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.952);
  left: 80%;
  border: 1px solid rgb(0, 0, 0);
animation: 0.3s slideuser ease-in-out ;
  @media (width < 780px) {
    width: 120px;
    left:50%;
    top: 60px;
  }
}
@keyframes slideuser {
  0%{
transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
   

  }
  
}
.username {
  font-size: 15px;
  color: rgb(12, 11, 11);
}
.orderhistory {
  display: flex;
  width: 100%;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-between;
}
